<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
<form action="#" th:action="@{/authenticateTheUser}" method="POST">
  <div th:if="${param.error}">
    <i>Sorry! You entered invalid username/password</i>
  </div>

  <div th:if="${param.logout}">
    <i>You have been logged out</i>
  </div>

  User Name : <input type="text" name="username"> <br> <br>
  Password : <input type="password" name="password"> <br> <br>
  <input type="submit" value="Login">

  <a th:href="@{/forgot-password}">Forgot Password</a> <br>
  <div>
    If you don't have account : <a th:href="@{/register}">Register</a>
  </div>
</form>
</body>
</html>